<h2>New idea</h1>
<form action="/create_idea">
  <div>
    <label for="description">Description</label>
  </div>
  <div>
    <input id="description" type="text" name="description" placeholder="description">
  </div>
  <input type="submit">
</form>